<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Resources/CSS/styles.css">
        <title>Home</title>
    </head>
    <body>
        <nav id="menu" class="menu menu-home">
            <div id="menu-superior">
                <div class="componentes-menu-superior">
                    <div id="area-logo">
                        <a href="index.html">Tec<span class="branco">Blog</span></a>
                    </div>
                    <div id="area-navegacao">
                        <ul class="categorias-navegacao">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="jogos.html">Jogos</a></li>
                            <li><a href="celulares.html">Celulares</a></li>
                            <li><a href="informatica.html">Informática</a></li>
                            <li><a href="eletronicos.html">Eletrônicos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="area-principal">
                <div id="area-postagens">
                    <div class="postagem">
                        <h2>Título da postagem 1</h2>
                        <span class="data-postagem">Postado dia 20 de março de 2022</span>
                        <figure>
                            <img src="/Resources/Images/imagem1.jpg">
                            <figcaption>
                                Num universo paralelo, onde os rios fluem ao contrário e as árvores crescem de cabeça para baixo, existe uma cidade encantada chamada Luminária. Nessa cidade, os habitantes são feitos de pura luz, e seus sorrisos iluminam as ruas estreitas e sinuosas. <br>
                                <a href="">Leia Mais</a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="postagem">
                        <h2>Título da postagem 2</h2>
                        <span class="data-postagem">Postado dia 10 de março de 2022</span>
                        <figure>
                            <img src="/Resources/Images/imagem2.jpg">
                            <figcaption>
                                Nesse espaço infinito, os sonhos se entrelaçam com a realidade, criando um tecido de possibilidades onde tudo é concebível. Das profundezas do oceano cósmico às alturas dos picos estelares, cada ponto no firmamento guarda segredos esperando para serem desvendados por mentes curiosas e corações destemidos. <br>
                                <a href="">Leia Mais</a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div id="menu-lateral">
                    <div class="conteudo-lateral">
                        <h3>Postagens recentes</h3>
                        <div class="postagem-lateral">
                            Postagem Lateral
                            <p class="texto-lateral">
                                Navegamos pelas constelações do conhecimento, explorando os recantos mais distantes do universo.
                            </p>
                            <a href="">Leia mais</a>
                        </div>
                        <div class="postagem-lateral">
                            Postagem Lateral 2
                            <p class="texto-lateral">
                                Navegamos pelas constelações do conhecimento, explorando os recantos mais distantes do universo.
                            </p>
                            <a href="">Leia mais</a>
                        </div>
                    </div>
                    <div class="conteudo-lateral">
                        <h3>Categorias</h3>
                        <div class="postagem-lateral">
                            <ul class="categorias-navegacao-lateral">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="jogos.html">Jogos</a></li>
                                <li><a href="celulares.html">Celulares</a></li>
                                <li><a href="informatica.html">Informática</a></li>
                                <li><a href="eletronicos.html">Eletrônicos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="rodape">
                    Todos os direitros reservados
                </div>
            </div>

        </nav>
    </body>
</html>